name: JS Checks

on:
  pull_request:
  push:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  run-checks-and-tests:
    uses: hemilabs/.github/.github/workflows/js-checks.yml@5f11bd5671f49214055f7ad3dcac80b34d36b674
    with:
      node-versions: '["20", "22", "24"]'
