name: NPM Publish

on:
  release:
    types:
      - published

jobs:
  npm-publish:
    permissions:
      contents: read
      id-token: write
    uses: hemilabs/.github/.github/workflows/npm-publish.yml@5f11bd5671f49214055f7ad3dcac80b34d36b674
    secrets: inherit
